# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
from pymongo.server_api import ServerApi
from atlascompass import mongopass
from pprint import pprint
from bson import ObjectId
import re

In [ ]:
# Create an instance of MongoClient
# mongo = MongoClient(port=27017)

## not using the local host due to issues with other services running on the same port.Instead, using the API to the free cloud service.

In [3]:
uri = "mongodb+srv://kuromasadev:{}@clusteraprda.x7kvjsy.mongodb.net/?retryWrites=true&w=majority".format(mongopass)
# Create a new client and connect to the server
mongo = MongoClient(uri, server_api=ServerApi('1'))
# Send a ping to confirm a successful connection
try:
    mongo.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [4]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [5]:
# review the collections in our database
collection_names = db.list_collection_names()

if collection_names:
    print("Collections in the new database:")
    for collection_name in collection_names:
        print(collection_name)
else:
    print("No collections found in the new database.")

Collections in the new database:
raw_import
establishments

In [6]:
# assign the collection to a variable
establishments = db['establishments']

In [7]:
documents = establishments.find()
import pandas as pd
document_preview = pd.DataFrame(documents)

In [11]:

document = establishments.find_one({"_id": ObjectId("6490fa85916b488c4a3c576c")})
column_names = list(document.keys())
pprint(column_names)

['_id',
 'FHRSID',
 'ChangesByServerID',
 'LocalAuthorityBusinessID',
 'BusinessName',
 'BusinessType',
 'BusinessTypeID',
 'AddressLine1',
 'AddressLine2',
 'AddressLine3',
 'AddressLine4',
 'PostCode',
 'Phone',
 'RatingValue',
 'RatingKey',
 'RatingDate',
 'LocalAuthorityCode',
 'LocalAuthorityName',
 'LocalAuthorityWebSite',
 'LocalAuthorityEmailAddress',
 'scores',
 'SchemeType',
 'geocode',
 'RightToReply',
 'Distance',
 'NewRatingPending',
 'meta',
 'links',
 'longitude',
 'latitude']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [12]:
# Find the establishments with a hygiene score of 20
query = {"scores.Hygiene": 20}
result1 = establishments.find(query)

In [13]:
# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
print("Number of documents with a hygiene score of 20:", count)

Number of documents with a hygiene score of 20: 41

In [14]:
# Display the first document in the results using pprint
first_document = result1.next()
pprint(first_document)

{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6490fa8a916b488c4a3c729e'),
 'geocode': {'latitude': '50.769705', 'longitude': '0.27694'},
 'latitude': None,
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'longitude': None,
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [15]:
# Create an empty list to store the documents
hyg_documents = []

In [16]:
# Iterate over the cursor and append each document to the list
for document in result1:
    hyg_documents.append(document)

In [17]:
# Convert the result to a Pandas DataFrame
hyg_score_df = pd.DataFrame(hyg_documents)

# Display the number of rows in the DataFrame
row_count = len(hyg_score_df)
print("Number of rows in the Dataframe for Locations with High Hygine score:", row_count)

Number of rows in the Dataframe for Locations with High Hygine score: 40

In [18]:
# Display the first 10 rows of the DataFrame
hyg_score_df.head(10)

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links,longitude,latitude
0,6490fa8b916b488c4a3c761f,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",FHRS,"{'longitude': '1.278721', 'latitude': '51.8575...",,4617.965824,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
1,6490fa8c916b488c4a3c7929,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': '1.15927', 'latitude': '51.789429'}",,4619.656144,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
2,6490fa8c916b488c4a3c7b17,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,"{'longitude': '0.10202', 'latitude': '50.770885'}",,4620.421725,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
3,6490fa8c916b488c4a3c7b26,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,"{'longitude': '0.101446', 'latitude': '50.7707...",,4620.437179,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
4,6490fa8e916b488c4a3c84c5,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': '0.736349', 'latitude': '51.5414...",,4625.565258,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
5,6490fa8e916b488c4a3c86e6,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': '0.7121671', 'latitude': '51.535...",,4626.200132,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
6,6490fa92916b488c4a3c9c11,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",FHRS,"{'longitude': '0.602364', 'latitude': '51.5915...",,4632.276890,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
7,6490fa93916b488c4a3ca055,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,"{'Hygiene': 20, 'Structural': 5, 'ConfidenceIn...",FHRS,"{'longitude': '0.146449998021126', 'latitude':...",,4633.934041,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
8,6490fa94916b488c4a3ca867,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': '0.462307', 'latitude': '51.57005'}",,4636.552523,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
9,6490fa94916b488c4a3ca8d7,267034,0,11/00102/MIXED,Longhouse,Restaurant/Cafe/Canteen,1,17 London Road,Riverhead,KENT,...,"{'Hygiene': 20, 'Structural': 25, 'ConfidenceI...",FHRS,"{'longitude': '0.169685', 'latitude': '51.2847...",,4636.703065,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

##### POST-setup steps:

> Although there was confirmation via the setup script, I'm observing that pandas does not like to have a dtype as int if there are null values. Otherwise, they become float or str, by which you cannot use >= operations.

In [27]:
check_df = pd.DataFrame(list(establishments.find()))

In [51]:
check_df.dropna(subset=['RatingValue'], inplace=True)

In [ ]:
check_df['RatingValue'] = check_df['RatingValue'].astype(int)

In [33]:
check_df['Latitude'] = check_df['geocode'].apply(lambda x: x['latitude'])
check_df['Longitude'] = check_df['geocode'].apply(lambda x: x['longitude'])

In [ ]:
check_df = check_df.drop('geocode', axis=1)

In [37]:
check_df = check_df.drop('longitude',axis=1)

In [38]:
check_df = check_df.drop('latitude',axis=1)

In [40]:
check_df['Latitude'] = check_df['Latitude'].astype(float)
check_df['Longitude'] = check_df['Longitude'].astype(float)

In [41]:
check_df.dtypes

_id                            object
FHRSID                        float64
ChangesByServerID             float64
LocalAuthorityBusinessID       object
BusinessName                   object
BusinessType                   object
BusinessTypeID                 object
AddressLine1                   object
AddressLine2                   object
AddressLine3                   object
AddressLine4                   object
PostCode                       object
Phone                          object
RatingValue                   float64
RatingKey                      object
RatingDate                     object
LocalAuthorityCode             object
LocalAuthorityName             object
LocalAuthorityWebSite          object
LocalAuthorityEmailAddress     object
scores                         object
SchemeType                     object
RightToReply                   object
Distance                      float64
NewRatingPending                 bool
meta                           object
links                          object
Latitude                      float64
Longitude                     float64
dtype: object

In [56]:
filtered_df = check_df.query("RatingValue >= 4")
check_rowct = len(filtered_df)
print("Number locales with rating >= 4:", check_rowct)

Number locales with rating >= 4: 31257

In [80]:
filtered_df = check_df.query("RatingValue >= 4")

In [81]:
grouped_df = check_df.groupby('LocalAuthorityName')

In [82]:
grouped_summary = pd.DataFrame(grouped_df.describe())

In [83]:
all_ratings = grouped_summary['RatingValue']

                       count      mean       std  min  25%  50%  75%  max
LocalAuthorityName
Arun                     1.0  5.000000       NaN  5.0  5.0  5.0  5.0  5.0
Ashford                816.0  4.795343  0.578577  1.0  5.0  5.0  5.0  5.0
Babergh                160.0  4.762500  0.713636  1.0  5.0  5.0  5.0  5.0
Barking and Dagenham   979.0  4.225741  1.066841  0.0  4.0  5.0  5.0  5.0
Basildon               801.0  4.647940  0.778395  0.0  5.0  5.0  5.0  5.0
...                      ...       ...       ...  ...  ...  ...  ...  ...
Uttlesford             476.0  4.495798  1.071145  0.0  4.0  5.0  5.0  5.0
Waltham Forest         380.0  4.165789  1.254601  0.0  4.0  5.0  5.0  5.0
Wealden               1007.0  4.654419  0.631935  1.0  4.0  5.0  5.0  5.0
West Suffolk             1.0  5.000000       NaN  5.0  5.0  5.0  5.0  5.0
York                     1.0  3.000000       NaN  3.0  3.0  3.0  3.0  3.0

[67 rows x 8 columns]

##### analysis steps

In [19]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
pattern2 = re.compile(r".*London.*", re.IGNORECASE)

query2 = {
    "LocalAuthorityName":{
        "$regex": pattern2
    },
    "RatingValue": {"$gte": 4}
}
result2 = establishments.find(query2)

In [20]:
# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query2)
print("Number of documents with London as the Local Authority and RatingValue >= 4:", count)

Number of documents with London as the Local Authority and RatingValue >= 4: 33

In [21]:
# Display the first document in the results using pprint
first_document2 = next(result2,None)
if first_document2:
    pprint(first_document2)
else:
    print("No documents found.")

{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6490fa8f916b488c4a3c8cb9'),
 'geocode': {'latitude': '51.369321', 'longitude': '0.508551'},
 'latitude': None,
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'longitude': None,
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [22]:
# Create an empty list to store the documents
auth_documents = []

In [23]:
# Iterate over the cursor and append each document to the list
for document in result2:
    auth_documents.append(document)

In [24]:
# Convert the result to a Pandas DataFrame
auth_score_df = pd.DataFrame(auth_documents)

# Display the number of rows in the DataFrame
row_count = len(auth_score_df)
print("Number of rows in the Dataframe for Locations with High Hygine score:", row_count)

Number of rows in the Dataframe for Locations with High Hygine score: 32

In [25]:
# Display the first 10 rows of the DataFrame
auth_score_df.head(10)

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links,longitude,latitude
0,6490fa90916b488c4a3c8fdf,1130836,0,PI/000034075,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,...,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...",FHRS,"{'longitude': '0.249255999922752', 'latitude':...",,4627.873179,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
1,6490fa92916b488c4a3c9b2c,293783,0,PI/000002614,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': '0.561954', 'latitude': '51.5438...",,4631.968418,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
2,6490fa94916b488c4a3ca92c,1315095,0,PI/000036464,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,Leslie Ford House,Tilbury,Charlton,...,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...",FHRS,"{'longitude': '0.346336990594864', 'latitude':...",,4636.846754,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
3,6490fa94916b488c4a3ca92d,294474,0,PI/000014647,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,Tenants Row Tilbury Docks,Tilbury Essex,,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': '0.346325', 'latitude': '51.4640...",,4636.847650,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
4,6490fa95916b488c4a3cb035,294900,0,PI/000019066,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': '0.287555', 'latitude': '51.5040...",,4640.460834,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
5,6490fa9c916b488c4a3cd143,293756,0,PI/000002538,Tereza Joanne,Other catering premises,7841,Funcraft UK Ltd King George V Dock Woolwich Ma...,London,,...,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...",FHRS,"{'longitude': '0.069286', 'latitude': '51.5011...",,4648.301822,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
6,6490fa9d916b488c4a3cd50a,878523,0,PI/000029844,Brick Lane Brews,Restaurant/Cafe/Canteen,1,Air side London City Airport,London,,...,"{'Hygiene': 10, 'Structural': 5, 'ConfidenceIn...",FHRS,"{'longitude': '0.048006', 'latitude': '51.5037...",,4649.173485,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
7,6490fa9d916b488c4a3cd524,293772,0,PI/000002585,The Nuance Group (UK) Limited,Retailers - other,4613,Duty Free Shop Passenger Terminal,London City AirportRoyal DocksLondon,,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': '0.047966', 'latitude': '51.5041...",,4649.188826,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
8,6490fa9d916b488c4a3cd525,294606,0,PI/000016185,WH Smith,Retailers - other,4613,London City Airport,Silvertown London,,...,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': '0.0479655750095844', 'latitude'...",,4649.188850,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
9,6490fa9d916b488c4a3cd526,295107,0,PI/000020749,City Bar & Grill,Restaurant/Cafe/Canteen,1,London City Airport (Airside),London,,...,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...",FHRS,"{'longitude': '0.0479655750095844', 'latitude'...",,4649.188850,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [26]:
degree_search = 0.01
latitude = 51.49014200
longitude = 0.08384000

# Define the latitude and longitude range for search
latitude_range = [latitude - degree_search, latitude + degree_search]
longitude_range = [longitude - degree_search, longitude + degree_search]

# Define the query and sort criteria
query3 = {
    "RatingValue": 5,
    "geocode.latitude": {"$gte": latitude_range[0], "$lte": latitude_range[1]},
    "geocode.longitude": {"$gte": longitude_range[0], "$lte": longitude_range[1]}
}
sort3 = [("scores.Hygiene", 1)]  # Sort by hygiene score in ascending order

# Execute the query and sort
result3 = establishments.find(query3).sort(sort3).limit(5)

# Print the results
for i, doc in enumerate(result3):
    print(f"Establishment {i+1}:")
    print(doc)
    print()

###### shortcut
> sneaky shortcut, doing the whole pipeline with pandas because the decimal conversion wasnt working:

In [42]:
degree_search = 0.01
latitude = 51.49014200
longitude = 0.08384000

# Define the latitude and longitude range for search
latitude_range = [latitude - degree_search, latitude + degree_search]
longitude_range = [longitude - degree_search, longitude + degree_search]

In [46]:
# Split the "scores" column into separate columns
scores_df = pd.json_normalize(check_df["scores"])

# Concatenate the filtered DataFrame with the scores DataFrame
merged_df = pd.concat([check_df, scores_df], axis=1)

In [53]:
import numpy as np
# Replace empty strings with NaN
merged_df['Hygiene'] = merged_df['Hygiene'].replace('', np.nan)

# Convert 'Hygiene' column to float or integer
merged_df['Hygiene'] = merged_df['Hygiene'].astype(float)  # or int

merged_df.dtypes

_id                            object
FHRSID                        float64
ChangesByServerID             float64
LocalAuthorityBusinessID       object
BusinessName                   object
BusinessType                   object
BusinessTypeID                 object
AddressLine1                   object
AddressLine2                   object
AddressLine3                   object
AddressLine4                   object
PostCode                       object
Phone                          object
RatingValue                   float64
RatingKey                      object
RatingDate                     object
LocalAuthorityCode             object
LocalAuthorityName             object
LocalAuthorityWebSite          object
LocalAuthorityEmailAddress     object
scores                         object
SchemeType                     object
RightToReply                   object
Distance                      float64
NewRatingPending                 bool
meta                           object
links                          object
Latitude                      float64
Longitude                     float64
Hygiene                       float64
Structural                     object
ConfidenceInManagement         object
dtype: object

In [66]:
merged_df.to_csv('merged_data.csv', index=False)

In [54]:
# Apply the filter criteria
filtered_df = check_df[
    (check_df["RatingValue"] == 5) &
    (check_df["Latitude"].between(latitude_range[0], latitude_range[1])) &
    (check_df["Longitude"].between(longitude_range[0], longitude_range[1]))
]

# Sort the filtered DataFrame by hygiene score
sorted_df = merged_df.sort_values("Hygiene")

In [55]:
sorted_df.head()

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,RightToReply,Distance,NewRatingPending,meta,links,Latitude,Longitude,Hygiene,Structural,ConfidenceInManagement
38784,6490faa1916b488c4a3cefe7,961603.0,0.0,712119,The Chequers,Pub/bar/nightclub,7843,Chequers Inn London Road,,Barley,...,,4668.863975,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",52.024742,0.032513,0.0,5,5
15325,6490fa91916b488c4a3c9444,34221.0,0.0,10/00099/FOOD,Southborough C Of E Infant And Primary School,School/college/university,7845,Broomhill Park Road,Southborough,Royal Tunbridge Wells,...,,4628.906455,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",51.154896,0.252360,0.0,0,0
30198,6490fa9c916b488c4a3cce5d,1518914.0,0.0,78713,Martins,Retailers - other,4613,,16 Woodward Road,,...,,4647.590115,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",51.538904,0.126861,0.0,0,5
30199,6490fa9c916b488c4a3cce5e,859071.0,0.0,133021,Mary Poppins Day Nursery,Caring Premises,5,162 Crow Lane,Romford,,...,,4647.591417,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",51.568750,0.156959,0.0,5,5
15322,6490fa91916b488c4a3c9441,585326.0,0.0,13/00030/MIXED,Pippins Pre-School,Caring Premises,5,Community Hall,Hawley Drive,Leybourne,...,,4628.906108,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",51.307129,0.405325,0.0,5,0

In [111]:
# Convert result to Pandas DataFrame
closest_df = pd.DataFrame(result3)
closest_df

Empty DataFrame
Columns: []
Index: []

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [59]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0

pipeline4 = [
    {
        "$match": {
            "scores.Hygiene": 0
        }
    },
    {
        "$group": {
            "_id": "$LocalAuthorityName",
            "count": { "$sum": 1 }
        }
    },
    {
        "$sort": {
            "count": -1
        }
    }
]

result4 = establishments.aggregate(pipeline4)

In [60]:
# Print the number of documents in the result
count = sum(1 for _ in result4)
print("Number of documents:", count)

Number of documents: 55

In [62]:
# Create an empty list to store the documents
nohyg_documents = []

In [63]:
# Iterate over the cursor and append each document to the list
for document in result4:
    nohyg_documents.append(document)

In [64]:
# Convert the result to a Pandas DataFrame
nohyg_score_df = pd.DataFrame(nohyg_documents)

# Display the number of rows in the DataFrame
row_count4 = len(nohyg_score_df)
print("Number of rows in the Dataframe for Locations with the lowest Hygine score:", row_count4)

Number of rows in the Dataframe for Locations with the lowest Hygine score: 55

In [65]:
nohyg_score_df.head(10)

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542